/* enter page css */
.enter_page_body {
    margin: 0;
    background: url("background_wallpaper_2.webp") no-repeat fixed;
    background-size: cover;
}
.header {
    padding-left:10%;
    display: flex;
    font-size: 4em;
    color: rgb(172, 172, 126);
    font-family: 'Quantico','Mouse Memoirs', sans-serif;
}

.animate__hinge {
    animation-delay: 5s;
    animation-duration: 10s;
}

.key_form {
    padding-left: 10%;
    color: rgb(172, 172, 126);
    font-family: 'Quantico','Mouse Memoirs', sans-serif;
}

#key {
    background-color: rgb(172, 172, 126);
    width: 100px;
    visibility: visible;
}

.animate__zoomInUp {
    visibility: hidden;
    font-size: 3em;
    color: rgb(172, 172, 126);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media screen and (max-width:1024px) {
    .header {font-size: 2em;}
    .animate__zoomInUp {font-size: 2em;}
    }
            
    @media screen and (max-width:600px) {
        .header {font-size: 1em;}
        .animate__zoomInUp {font-size: 1em;}
    }

/* start page css */
.start_page_body {
    margin: 0;
    background: url("background_wallpaper_3.jpg") no-repeat fixed;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(172, 172, 126);
    font-family: 'Quantico','Mouse Memoirs', sans-serif;
}
.menu {
    margin-bottom: 0;
    list-style: none;
    font-size: larger;
    font-weight: bold;
    display: flex;
    gap: 2em;
    padding-bottom: 1em;
    justify-content: flex-start;
    border-bottom: 2px solid;

}
a {
    color: rgb(172, 172, 126);
}
.admin_panel  {
    margin-left: auto;
    margin-right: 2em;
    justify-content: flex-end;
}

h1 {
    text-align: center;
}

.events {
    font-size: 1.3em;
    margin-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 2px solid;
}

.competitors {
    /* display: grid;
    grid-template-columns: repeat(5, minmax(50px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
            
}

img {
    margin: 20px;
    width: 200px ;
    height: 200px;
    border-radius: 10%;
    border-bottom-right-radius: 50%;
    border: 0.3em double rgb(172, 172, 126);
    transition: all 0.7s;
}

img:hover {
    background-color: rgb(172, 172, 126);
    transform: skew(-20deg, 10deg);   
}